html, body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #EFEDFE;
    display: flex;
    justify-content: center;
    align-items: center;
}

*{
    user-select: none;
}

h1,p{
    padding: 0;
    margin: 0;
}

.contenedor-principal{
    display: flex;
    /* gap: 10rem; */
    margin: 0;
    padding: 0;
    width: 45rem;
    height: 30rem;
    border-radius: 20px;
}
ul,a{
    list-style-type: none;
    text-decoration: none;
    color: #464646;
    font-size: 20px;
    font-weight: 800;
    display: flex;
    gap: 50px;

}
.nav-inicio{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 40px;
}

.contenedor-Login-Formulario{
    border-radius: 20px;
    margin: 0;
    padding: 0;
    justify-content: space-around;
    align-items: center;
    /* gap: 5rem; */
    background-color: #8186F1;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.Imagen{
    width: 20rem;
    height: 20rem;
    display: flex;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.Formulario, form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 1rem;
}

.Formulario{
    justify-content: space-evenly;
    height: 100%;

}

h1{
    color: #464646;
}

p{
    opacity: 0.5;
    font-weight: 900;

}

form{
    gap: 0.5rem;
}

label{
    font-weight: bold;
    opacity: 0.3;
}

button{
    border-radius: 12px;
    border: 1px solid #3840cf;
    background-color: #3840cf;
    height:30px;
    margin-top: 25px;
    font-weight: 100;
    font-size: 16px;
}

button:hover{
    background-color: #1a21aa;
    transform: scale(1.05);

}

button:active{
    background-color: #6268dd;
    transform: scale(0.9);
}

input{
    border: none;
    border-radius: 5px;
    outline: none;
    height: 20px;
}

input:focus{
    border: none;
    border-radius: 5px;
}
.nav-inicio a {
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 20px; /* Forma ovalada */
    background-color: #4f5db0; /* Color de fondo */
    color: #000; /* Color del texto */
    transition: background-color 0.3s ease; /* Transición suave */
}

.nav-inicio a.active {
    background-color: #a2a9f3; /* Color de fondo más oscuro para el enlace activo */
    opacity: 0.8; /* Más opaco */
}